<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MustafaKaya</title>
    <!-- Container for meta data (is not displayed)
    *Title ,Styles,Link,Scripts and Meta and othres *
    -->
</head>

Welcome to Developer Course!!!

<h1> Spring Boot</h1>
<h2>Gizem</h2>
<h3> Mustafa</h3>

<h1 align="center" style="color: blue"> Spring Framework1 </h1>

<img src="muti.png" alt="Spring boot Image">

<ul>
    <li>MVC</li>
    <li>ORM</li>
    <li>API</li>
</ul>

<a href="https://www.amazon.com">Amazon</a>

<table>
    <tr>
        <td> Loop</td>
        <td> Collection</td>
        <td> Stream</td>
    </tr>
    <tr>
        <td> For</td>
        <td> List</td>
        <td> Filter</td>
    </tr>
</table>

<!--Forms-->
<label> User Name:</label>
<input type="text" name="username"><br>

<label> Password:</label>
<input type="password"><br>

<label> Enter your comments:</label>
<textarea name="comments"></textarea><br>

<label>Please Select your fav subject</label>
<input type="radio" name="Spring" value="IoC" checked="checked">IOC
<input type="radio" name="Spring" value="DI">DI
<input type="radio" name="Spring" value="MVC">MVC

<label>Please select your company: </label>
<input type="checkbox" name="company" value="BOA">BOA
<input type="checkbox" name="company" value="Southwest Airlines">SWE
<input type="checkbox" name="company" value="Limited">LTD <br><br>

<label>Select your car: </label>
<select name="cars">
    <option value="honda">Honda</option>
    <option value="nissan">Nissan</option>
    <option value="BMW">BMW</option>
</select>


<form action="#" method="get">
    First name:<input type="text" name="first_name">
    <br>
    Last name: <input type="text" name="last_name">

</form>
<div>
    <h3>This is Java Developer</h3>
    <ul>
        <li>Spring Frmework</li>
        <li>Security</li>
        <li>Unit Testing</li>
    </ul>
</div>


<body>

</body>
</html>