<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="UTF-8">
    <title>WelcomePage</title>
</head>
<body>

<h2 th:text="${name}"></h2>
<h3 th:text="${course}"></h3>
<h4 th:text="${subject}"></h4>
<h5 th:text="${id}"></h5>
<h2 th:text="${numbers.get(0)}"></h2>
<h2 th:text="${birthday.toString()}"></h2>
<h2 th:text="${'Hello '+ name}"></h2>
<h2 th:text="${student.getId()}"></h2>
<h2 th:text="${student.getFirstName()}"></h2>

<!--Link-->

<a th:href="@{https://cybertekschool.com}">Cybertek</a>

<a th:href="@{/student/register}">Go to Register Page</a>

<!-- Adding Parameters to link-->

<a th:href="@{/student/welcome(id=3)}">Link2</a>
<a th:href="@{/student/welcome(id=${student.id})}">Link3</a>

<!-- Iteration-->

<ul>
    <li th:each="number: ${numbers}" th:text="${number}" ></li>
</ul>

<!-- Fragment-->

<div th:replace="fragments/footer :: footer3"></div>




</body>
</html>