<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <td> <h3>FirstName</h3></td>
                <td><h3>LastName</h3></td>
                <td><h3>Age</h3></td>
                <td><h3>Gender</h3></td>
            </tr>
        </thead>
        <tbody>
            <tr th:each="mentor : ${mentors}">
                    <td th:text="${mentor.getFirstName()}"></td>
                    <td th:text="${mentor.getLastName()}"></td>
                    <td th:text="${mentor.getAge()}"></td>
                    <td th:text="${mentor.getGender()}"></td>
            </tr>
        </tbody>
    </table>



</body>
</html>